body {
    background-color: #D9D0BF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: center;
}

li {
    margin: 0 20px 0 20px;
    list-style: none; 
}

h1 {
    font-family: 'Bungee Inline', cursive;
    color: #BF0426;
}

h2, h3 {
    color: #BF0426; 
}

a {
    text-decoration: none;
    color: #BF0426;
}

.hero {
    background-image: url("./images/ella-olsson-4dQiaWKiL-Y-unsplash.jpg");
    background-size: cover;
    height: 750px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    background-color: #BFB304;
    max-width: 700px;
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: auto;
    margin-top:-75px;
    height: 100px;
    opacity: .8;
}

.recipes, .events {
    margin: 0 50px 
}

.recipe-card, .events-card {
    display: flex;
    justify-content: space-between;
}

.recipe-card img {
    min-width: 200px; 
    max-width: 300px;
    margin-left: 7px;
}

button {
    background-color: #BFB304;
    color: #FFFFFF;
    padding: 15px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    margin: 20px 10px;
}

button:hover {
    background-color: #BF0426;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery img {
    height: 200px;
    width: 300px;
}

.events-card img {
    width: 300px;
    height: 300px;
    margin-right: 7px;
}

footer {
    text-align: center;
    border-top: 1px solid #BFB304;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    
    h1 {
        text-align: center;
    }

    .hero {
       justify-content: center;
       width: 100%;
    }

   .about {
      align-items: center;  
      max-width: 100%;
   }

   .buttons {
       display: flex;
       justify-content: center;
   }

   .recipe-card, .events-card {
    flex-wrap: wrap;
    justify-content: center;
   }

   .gallery {
       flex-wrap: wrap;
   } 
}

@media only screen and (max-width: 480px) {
    p, li, button {
        font-size: 1em;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hero {
        max-width: 100%;
    }

    .about {
        max-width: 100%;
    }

    .footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-menu {
        flex-wrap: wrap;
    }
}
